<section id= "courses" class="p-5 text-center mb-5">
    <div class="container mt-5">
        <h2>List Article</h2>
        <div class="row g-4">
            <div class="col col-md-4">
                <div class="card bg-light text-dark">
                    <div class="card-body ">
                        <img src="../../../../assets/images/market.jpg" class="img-fluid" alt="img1">
                        <div>
                            <h5><i class="bi bi-currency-bitcoin"></i>Bitcoin</h5>
                        </div>
                        <h5>Bitcoin Price Prediction as Crypto Prices Stabilize, Is $20,000 BTC on the Cards?</h5>
                        <div class="row g-4 mt-2 ">
                            <div class="col-md-5">
                                <button type="button" class="btn btn-dark" routerLink="/article/article-pertama">
                                    Read
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            <div>


                <div class="card bg-light text-dark">
                    <div class="card-body ">
                        <img src="../../../../assets/images/luna.jpg" class="img-fluid" alt="img1">
                        <div>
                            <h5><i class="bi bi-currency-bitcoin"></i>Luna</h5>
                        </div>
                        <h5>Terra Luna Classic Price Prediction as LUNC Sees $100,000,000 Trading Volume Come In</h5>
                        <div class="row g-4 mt-2 ">
                            <div class="col-md-5">
                                <button type="button" class="btn btn-dark" routerLink="/article/article-pertama">
                                    Read
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            </div>
         </div>
    </div>
</section>