<section class="bg-light text-center p-5 p-lg-0 pt-lg-5 text-center text-sm-start mt-5">
    <div class="container">
        <div class="d-sm-flex align-items-center justify-content-between text-center">
            <div>
                <h1>
                    Terra Luna Classic Price Prediction as LUNC Sees $100,000,000 Trading Volume Come In
                    <img src="../assets/images/luna.jpg" alt="" class="img-fluid w-50 d-none d-sm-block align-items-center ">
                </h1> 
                <h4> 
                    <p> Terra Luna Classic price prediction is bearish; however, buyers still have hope for a bullish reversal above $0.000169, a support level extended by an upward trendline. The cryptocurrency market has recently been harsh to investors, with most cryptocurrencies unable to produce gains.</p>
                    <p> Terra Classic (LUNC) experienced a slight price rise, bucking the trend of other large market-cap cryptocurrencies.Based on statistics from CoinMarketCap, the price of LUNC increased by less than 0.50% during the Asian session.  </p>
                </h4>         
            </div>
        </div>
    </div>
</section>


