<section id= "home" class="bg-light text-dark p-5 p-lg-0 pt-lg-5 text-center text-sm-start mt-5">
    <div class="container mt-5 text-center">
        <h1 > Tentang Kami</h1>
        <p> Berawal dari perkembangan crypto yang semakin luas di indonesia, masyarakat indonesia membutuhkan suatu wawasan lulas tentang perkembangan crypto indonesia yanh semakin hari semakin update maka dari itu kami akan memberikan suatu berita tentang crypto di masa kini</p>
        <img src="../assets/images/tentang.jpg" alt="">
    </div>
</section>


