<section id= "home" class="bg-dark text-light p-5 p-lg-0 pt-lg-5 text-center text-sm-start mt-5">
    <div class="container">
        <div class="d-sm-flex align-items-center justify-content-between">
            <div>
                <h1>
                    Bitcoin Price Prediction as Crypto Prices Stabilize, Is $20,000 BTC on the Cards?
                </h1>
                <p class="load my-4"> Bitcoin is currently trading at $16.740, down from $16.886  at the start of the day </p>
                <p > 
                    <button class=" btn btn-primary btn-lg"
                        routerLink="/article/article-pertama">
                        Read More
                    </button>
                </p>
            </div>
            <img src="../assets/images/market.jpg" alt="" class="img-fluid w-50 d-none d-sm-block">
        </div>        
    </div>
</section>

<section id= "home" class="bg-light text-dark p-5 p-lg-0 pt-lg-5 text-center text-sm-start">
    <div class="container">
        <div class="d-sm-flex align-items-center justify-content-between">
        <img src="../assets/images/luna.jpg" alt="" class="img-fluid w-50 d-none d-sm-block">
            <div >
                <h1>
                    Terra Luna Classic Price Prediction as LUNC Sees $100,000,000 Trading Volume Come In
                </h1>
                <p class="load my-4"> Terra Luna Classic price prediction is bearish; however, buyers still have hope for a bullish reversal above $0.000169, a support level extended by an upward trendline. </p>
                <p > 
                    <button class=" btn btn-primary btn-lg"
                        routerLink="/article/article-kedua">
                        Read More
                    </button>
                </p>
            </div>
           
        </div>        
    </div>
</section>

