<section class="bg-light text-center p-5 p-lg-0 pt-lg-5 text-center text-sm-start mt-5">
    <div class="container">
        <div class="d-sm-flex align-items-center justify-content-between text-center">
            <div>
                <h1>
                    Bitcoin Price Prediction as Crypto Prices Stabilize, Is $20,000 BTC on the Cards?
                    <img src="../assets/images/market.jpg" alt="" class="img-fluid w-50 d-none d-sm-block align-items-center ">
                </h1> 
                <h4> 
                    <p> Following the release of UK inflation figures, the price of Bitcoin remains below $17,000. which was higher than expected Most altcoins in the market have followed suit, as traders remain cautious. Bitcoin is currently trading at $16,740, down from $16,886 at the start of the day. BTC has ranged between $16,761 and $17,002 in the last 24 hours as a result of the recent Russia-Ukraine conflict.</p>
                    <p> Following the demise of FTX, Genesis Global Trading's lending division has temporarily ceased accepting cash withdrawals and new loan applications, according to Interim CEO Derar Islim, who informed clients on November 16. </p>
                </h4>         
            </div>
        </div>
    </div>
</section>

